@import "./variables.scss";

._ {
  height: 100vh;
  border-right: 1px solid $storke;
  display: flex;
  flex-direction: column;

  svg,
  span {
    color: $primaryText;
  }

  img {
    border-radius: 50%;
  }

  img {
    width: 24px;
    height: 24px;
  }

  & > button,
  nav a,
  &.collapse > a {
    font-size: 16px;
    margin: 8px 0;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: background 0.3s ease;

    &:hover {
      background: $hoverOverlay;

      svg,
      img {
        scale: 105%;
      }
    }

    &:active {
      opacity: 0.5;

      svg,
      img {
        scale: 100%;
      }
    }

    &.active span {
      font-weight: 700;
    }
  }

  & > button {
    margin: auto 0 4px;
  }
}

.default {
  width: 244.8px;
  padding: 40px 12px 20px;

  & > a {
    margin: 0 0 23px 12px;
  }
}

.collapse {
  width: 72.8px;
  padding: 16px 12px 20px;

  nav {
    margin: 16px 0 0;
  }

  svg,
  img {
    width: 24px;
    height: 24px;
    scale: 1;
    transition: scale 200ms cubic-bezier(0.17, 0.17, 0, 1);
  }
}
